# Ignore node_modules everywhere
node_modules/
Frontend/node_modules/

# Ignore environment variables
.env

# Ignore build/dist folders
dist/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store

# Coverage reports
coverage/
